@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Roboto+Mono&display=swap');

body {
    background-color: #191b1c;
    color: #fff;
    font-family: 'Montserrat', Courier;
}

div {
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
}

p {
    margin: 10px;
    font-family: 'montserrat', Courier;
}

button {
    background-color: #356dc2;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    cursor: pointer
}

button:hover {
    background-color: #1e4a7e;
}

input {
    background-color: #fff;
    font-family: 'Roboto Mono', monospace;
    color: #000;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 210px;
}

input:disabled {
    cursor: default;
    background-color: #444444;
}
